html, body {
    height: 100%;
    font-size: 14px;
}

#app {
    padding: 50px 0;
    height: calc(100% - 100px);
    background-color: #fafafa;
}

.main {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}

.context {
    width: calc(100% - 300px);
    padding: 0 10px 10px 50px;
    height: calc(100% - 20px);
    overflow: auto;
}

/* navigation */
nav {
    position: absolute;
    right: 0;
    top: 50px;
    width: 230px;
    max-height: 0;
    background-color: #fff;
    overflow: auto;
}

nav.active {
    transition: max-height 1s;
    /* max-height: 1000px; */
    max-height: calc(100% - 70px);
}

nav > * {
    position: relative;
    text-align: center;
}

nav > div > p {
    margin: 10px;
    line-height: 20px;
    font-weight: bold;
}

.label-nav > a {
    display: inline-block;
    margin: 5px;
    padding: 0 10px;
    line-height: 20px;
    font-size: 0.8em;
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
}

.label-nav > a.router-link-active {
    color: #fff!important;
}

.label-nav > a:not(.router-link-active) {
    background-color: #fff!important;
}

.nav-tree-item {
    position: relative;
}

.nav-tree-item a {
    display: block;
    padding: 0 10px;
    line-height: 25px;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    text-align: left;
}

.nav-tree-item .nav-tree {
    max-height: 0;
    overflow: auto;
    counter-reset: i;
    transition: max-height 1s;
}

.active > .nav-tree,
.nav-tree-item .nav-tree.expand {
    max-height: 1000px;
}

.nav-tree-item .nav-tree-item > a:before {
    counter-increment: i;
    content: counters(i,".")" ";
}

.nav-tree .active > a {
    font-weight: bold;
    background-color: #24292e;
    color: #fff;
}

.nav-tree-item .icon-circle-down {
    display: none;
    position: absolute;
    top: 0;
    right: 5px;
    line-height: 25px;
    transition: transform 1s;
    cursor: pointer;
}

.nav-tree + .icon-circle-down {
    display: block;
}

.nav-tree.expand + .icon-circle-down,
.active > .icon-circle-down {
    transform: rotate(180deg);
}

.active > .icon-circle-down {
    color: #fff;
}

.hidden-btns {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    line-height: 50px!important;
    font-size: 2em;
    color: #fff;
    z-index: 11;
    text-align: center;
    transition: transform 1s;
}

.hidden-btns.active {
    transform: rotate(180deg);

}

/* header */
header {
    top: 0;
    height: 50px;
    line-height: 50px;
    background-color: #24292e;
}

header.main a {
    color: #fff;
    text-decoration: none;
}

.main-info {
    position: absolute;
    left: 10px;
    line-height: 50px;
}

.main-avatar {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #aaa;
    border-radius: 30px;
    vertical-align: middle;
}

.main-avatar img {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.main-info font {
    display: inline-block;
    line-height: 50px;
}

.main-title {
    text-align: center;
    line-height: 50px;
    font-size: 1.8em;
}

/* footer */
footer {
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: #ababab;
}

footer a:hover {
    color: #666;
}

footer p {
    margin: 0;
    line-height: 20px;
    height: 20px;
    font-size: 0.8em;
    color: #ababab;
    text-align: center;
}

/* loading */
.loading-tips {
    position: relative;
    height: 100%;
}

.loading-tips > div {
    position: absolute;
    top: calc(50% - 30px);
    left: 0;
    right: 0;
    line-height: 60px;
    margin: auto;
    font-size: 60px;
    -webkit-animation: rotateplane 1.5s infinite ease-in-out;
    animation: rotateplane 1.5s infinite ease-in-out;
    text-align: center;
}

.loading-tips p {
    position: absolute;
    top: calc(50% + 30px);
    width: 100%;
    text-align: center;
}
 
@keyframes rotateplane {
    0% {
    transform: perspective(120px) rotateZ(0deg);
    } 100% {
    transform: perspective(120px) rotateZ(359deg);
    }
}

/* list */
.issue-item {
    margin-bottom: 20px;
    padding: 40px;
    background-color: #fff;
}

.issue-text {
    display: inline-block;
    max-height: 130px;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
}

.issue-text,
.issue-text a {
    color: #000;
}

.issue-text h2 {
    line-height: 30px;
    height: 30px;
    margin: 0;
    font-size: 1.5em;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.issue-text p {
    margin: 0;
    font-size: 1em;
    line-height: 25px;
    color: #999;
    overflow: hidden;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.issue-label {
    display: inline-block;
    margin: 5px 5px 0 0;
    padding: 0 10px;
    line-height: 20px;
    color: #fff;
    font-size: 0.8em;
    text-decoration: none;
}

/* detail */
.content {
    padding: 20px;
    background-color: #fff;
}

#comments {
    padding: 25px 50px;
    background-color: #fff;
}

/* error */
.error-page {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

@media screen and (max-width: 1000px) {
    html, body {
        font-size: 12px;
    }

    .main-info font {
        display: none;
    }

    .context {
        width: auto;
        padding: 10px;
    }

    nav,
    nav.active {
        max-height: 0;
        box-shadow: -2px 2px 10px #666;
    }

    .hidden-btns {
        display: block;
    }

    nav:hover,
    .hidden-btns.active + nav {
        /* max-height: 1000px; */
        max-height: calc(100% - 70px);
    }

    .issue-item {
        padding: 15px;
        margin: 10px 0;
    }
}