html, body {
    height: 100%;
}

#app {
    padding: 50px 0;
    height: calc(100% - 100px);
    background-color: #fafafa;
}

.main {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}

.context {
    padding: 10px 50px;
    height: calc(100% - 20px);
    overflow: auto;
}

/* header */
header {
    top: 0;
    height: 50px;
    line-height: 50px;
    background-color: #24292e;
}

header.main a {
    color: #fff;
    text-decoration: none;
}

.main-info {
    position: absolute;
    left: 10px;
    line-height: 50px;
}

.main-avatar {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #aaa;
    border-radius: 30px;
    vertical-align: middle;
}

.main-avatar img {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.main-info font {
    display: inline-block;
    line-height: 50px;
}

.main-title {
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

/* footer */
footer {
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: #ababab;
}

footer a:hover {
    color: #666;
}

footer p {
    margin: 0;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    color: #ababab;
    text-align: center;
}

/* loading */
.loading-tips {
    position: relative;
    height: 100%;
}

.loading-tips svg {
    position: absolute;
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation: rotateplane 1.5s infinite ease-in-out;
    animation: rotateplane 1.5s infinite ease-in-out;
    background-color: #fff;
    border-radius: 30px;
}

.loading-tips p {
    position: absolute;
    top: calc(50% + 30px);
    width: 100%;
    text-align: center;
}
 
@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px) }
    25% { -webkit-transform: perspective(120px) rotateY(180deg) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
    75% { -webkit-transform: perspective(120px) rotateY(360deg)  rotateX(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(360deg)  rotateX(360deg) }

}
 
@keyframes rotateplane {
    0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 25% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    } 50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    } 75% {
    transform: perspective(120px) rotateX(-360.1deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-360.1deg) rotateY(-179.9deg)
    } 100% {
    transform: perspective(120px) rotateX(-360deg) rotateY(-359.9deg);
    -webkit-transform: perspective(120px) rotateX(-360deg) rotateY(-359.9deg);
    }
}

/* list */
.issue-item {
    margin: 20px 0;
    padding: 40px;
    background-color: #fff;
}

.issue-text {
    display: inline-block;
    max-height: 130px;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
}

.issue-text,
.issue-text a {
    color: #000;
}

.issue-text a {
    display: block;
    line-height: 30px;
    height: 30px;
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.issue-text p {
    margin: 0;
    font-size: 14px;
    line-height: 25px;
    color: #999;
    overflow: hidden;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}